.search {
  display: flex;
  width: 90%;
  justify-content: center;
  padding: 80px 0;
  border-bottom: 1px solid rgb(170 170 170 / 20%);
  margin: 0 auto;
}

.search__form {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.search__form-fieldset {
  position: relative;
  padding: 0;
  border: none;
  margin: 0;
}

.search__form-fieldset_type_input {
  width: 80%;
}

.search__form-fieldset_type_switch {
  display: flex;
  width: 20%;
  justify-content: flex-end;
  padding: 0;
}

.search__form-input {
  width: 100%;
  height: 48px;
  box-sizing: border-box;
  padding: 0 0 0 24px;
  border: 1.5px solid rgb(170 170 170 / 20%);
  border-radius: 50px;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.search__form-input::placeholder {
  color: #a0a0a0;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.search__form-button {
  position: absolute;
  top: 7px;
  right: 7px;
  width: 34px;
  height: 34px;
  border: none;
  border-radius: 50%;
  margin: 0;
  background-color: #3456f3;
  background-image: url('../../assets/searchButton.svg');
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  opacity: 1;
  outline: none;
  transition: opacity .5s;
}

.search__form-button:hover {
  opacity: .8;
}

.search__form-label {
  padding: 0 14px 0 0;
  margin: 0;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.search__form-switch {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 36px;
  height: 20px;
  border: none;
  border-radius: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #ebebeb;
  cursor: pointer;
  outline: none;
  transition: background-color ease .3s;
}

.search__form-switch::before {
  position: absolute;
  z-index: 2;
  top: 1px;
  left: 1px;
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid #fff;
  border-radius: 50%;
  background: #f5f5f5;
  content: '';
  transition: background ease-in-out .3s;
}

.search__form-switch:checked::before {
  left: 15px;
  background: #2be080;
}

.search__form-error {
  padding: 0;
  margin: 6px 0 0;
  color: #ee3465;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
}

@media screen and (max-width: 769px) {
  .search__form {
    flex-direction: column;
  }

  .search__form-fieldset_type_input {
    margin: 0 0 38px;
  }
}

@media screen and (max-width: 650px) {
  .search__form-fieldset_type_input {
    width: 95%;
    margin: 0 0 45px;
  }
}
